{
    "timeout": 10,
    "source": {
        "directories": [
            "src\/"
        ]
    },
    "phpUnit": {
        "configDir": "config\/"
    },
    "logs": {
        "text": "logs/infection.log"
    },
    "mutators": {
        "@default": true
    }
}