<phpunit bootstrap="./../vendor/autoload.php">
    <testsuites>
        <testsuite name="Domain">
            <directory>../tests/Domain</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Domain</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./../var/tests/clover.xml"/>
    </logging>
</phpunit>
